<div class="container my-5 pt-5">
    @if (product.available == true) {
    <div class="card mt-6" style="width: 20rem;">
        <img [src]="product.image" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p><span class="fs-4 fw-bold">Description:</span><br><span class="fst-italic">{{product.description}}</span></p>
        <p><span class="fs-4 fw-bold">Price:</span> {{product.price | currency:'EUR'}}</p>
        <button class="btn btn-success btn-2" id="cart-button" type="button" (click)="addToCart()">Add to Cart</button>
      </div>
    </div>
    } @else {
      <div class="card mt-6" style="width: 20rem;">
        <img [src]="product.image" alt="{{product.name}}">
        <div class="card-body">
          <h5 class="card-title">{{product.name}}</h5>
          <p><span class="fs-4 fw-bold">Description:</span><br><span class="fst-italic">{{product.description}}</span></p>
        <p><span class="fs-4 fw-bold">Price:</span> {{product.price | currency:'EUR'}}</p>
        <p class="text-danger">Sold out</p>
      </div>
    </div>
    }
</div>
