.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-body {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
}

.button-css {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: auto;
}
